.content{
    width: 1000px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.content .info .title{
    font-weight: bold;
}

.input-score{
    width: 100px;
}